body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
  background-color: #363636;
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Source Code Pro', monospace;
}

.wrapper {
  position: relative;
  margin: 50px 50px 0;
}

/*16:9*/
.sketch {
  width: 0;
  height: 0;
  margin: auto;
}

h1, h2 {
  color: #DADADA;
}

h1 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  font-weight: 900;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.11rem;
  font-weight: 900;
}

.ui-overlay {
  position: absolute;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  opacity: 0;
  transition: .3s;
}

.left-col {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.right-col {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.help {
  text-align: right;
}

.help img {
  cursor: pointer;
  opacity: 1;
  transition: .2s;
}

.help img:hover {
  opacity: .8;
}

.toggles {
  margin-top: 30px;
}

.toggle {
  display: flex;
  flex-direction: row-reverse;
  opacity: 0.3;
  cursor: pointer;
  transition: .2s;
}

.toggle img:first-of-type {
  display: none;
}

.toggle img:last-of-type {
  display: inline;
}

.toggle p {
  color: #DADADA;
  font-size: 12px;
  text-align: right;
  margin-right: 7px;
}

.toggle.on {
  opacity: 1;
}

.toggle.on img:first-of-type {
  display: inline;
}

.toggle.on img:last-of-type {
  display: none;
}

.controls-wrapper {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  width: 1110px;
  height: 200px;
  bottom: 0;
  margin: 0 auto;
  transition: .2s;
  opacity: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 74%);
}

.controls-wrapper.hide:hover {
  opacity: 0;
}

.controls-wrapper:hover {
  opacity: 1;
}

.controls-wrapper.active {
  opacity: 1;
}

.controls {
  position: relative;
  margin: 0 auto;
}

.date-left {
  position: absolute;
  top: 105px;
  font-size: 13px;
  color: #DADADA;
}

.date-right {
  position: absolute;
  top: 105px;
  right: 0;
  text-align: right;
  font-size: 13px;
  color: #DADADA;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #ECECEC;
  position: absolute;
  top: 145px;
}

.pointer {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #ECECEC;
  position: absolute;
  top: 145px;
  transform: translateY(-4px);
  left: 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  position: absolute;
  top: 145px;
}

.buttons img {
  height: 24px;
  cursor: pointer;
}

.buttons .left {

}

.app-list-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  transform: translateY(-100px);
  width: 100vw;
  overflow-y: hidden;
  opacity: 0;
}

.app-list {
  overflow-y: auto;
  display: flex;
}

.app-card-wrapper:first-of-type {
  padding-left: 50px;
}

.app-card-wrapper:last-of-type {
  padding-right: 50px;
}

.app-card-wrapper {
  box-sizing: content-box;
  padding-left: 25px;
}

.app-card {
  transition: .2s;
  padding: 5px;
  border-radius: 7px;
  width: 260px;
  height: 200px;
}

.app-card:hover, .app-card.selected {
  background-color: #bababa;
}

.app-card:hover .app-info-div p,
.app-card.selected .app-info-div p {
  color: #1D1D1D;
}

.app-img-div {
  width: 250px;
  height: 140px;
  border-radius: 9px;
  background-image: url('img/sample-ss.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.app-info-div {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-info-div img {
  height: 26px;
}

.app-info-div p {
  color: #DADADA;
  font-size: 17px;
  margin: 0;
  transition: .2s;
}

.popup {
  position: fixed;
  background-color: #4f4f4f;
  padding: 7px;
  border-radius: 3px;
  transition: .2s;
  opacity: 0;
  z-index: 15;
}

.popup.active {
  opacity: 0.9;
}

.popup p {
  margin: 0;
  font-size: 0.8rem;
  color: #DADADA;
}

::-webkit-scrollbar {
  width: 0;
}

.fadeIn {
  animation: .5s ease-in forwards fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}